<div class="card" id='<%= category_path(category.id)%>'>
  <h3 class="card-header"><%= truncate (category.name)%></h3>
  <div class="card-block">
  
    <%= link_to "See all questions", category_url(category.id), class: 'question' %>
      <div id="load-questions-<%= category.id %>">
      </div>
      <%= link_to "show page", category_url(category.id)%>
  </div>

</div>