    <div id="side-menu"  class="col-sm-3">
        <ul id="links-list">
            <%#= link_to "New Category", new_category_path , id: 'new' %>
            <!--<div class="new-cat">
            </div><!-->
                <p>
                    <div class="form-group mx-sm-3 mb-2">
                        
                        <%= form_for(Category.new) do |f| %>
                        <%= f.label :name %>
                        <%= f.text_field :name , :class => "form-control-plaintext" %>
                        
                        <%= f.submit :class => "btn btn-primary" %>
                        <% end %>
                        
                    </div>
                </p>
        <%= form_tag(categories_path(@category), :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search categories" %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>  
        </ul>
    </div><!-- side-menu -->