<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">

      <!-- Elements visible all the time -->
      <div class="col-sm-7">
        <%= render 'layouts/navigation/header' %>
      <%= form_tag(categories_path(@category), :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Questions" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
      </div><!-- col-sm-7 -->

      <!-- Elements collapses on smaller devices -->
      <div class="col-sm-5">
        <%= render 'layouts/navigation/collapsed_elements' %>
      </div><!-- col-sm-5 -->

    </div><!-- row -->
  </div><!-- container -->
</nav>
