<!DOCTYPE html>
<html>
  <head>
    <title>Studyhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= render 'layouts/navigation' %>
    <%= form_tag(categories_path(@category), :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Questions" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  <%= yield %>
  </body>
</html>
